/* FONTS */

/* Abril */
@font-face {
    font-family: 'abril';
    src: url('fonts/abrilfatface-regular.woff2') format('woff2'),
        url('fonts/abrilfatface-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Work Sans */

@font-face {
    font-family: 'work-sans';
    src: url('fonts/worksans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'work-sans';
    src: url('fonts/worksans-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'work-sans';
    src: url('fonts/worksans-lightitalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'work-sans', sans-serif;
}