/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &-btn {
        cursor: pointer;
    }
    
    &:after {
        content: url('data:image/svg+xml, <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="32" height="3" fill="black"/><rect y="11.5" width="32" height="3" fill="black"/><rect y="22.5" width="32" height="3" fill="black"/></svg>');
    } 
}
